body {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}
body a { cursor: pointer; }
textarea { min-height: 130px; }

/* bootstrap css override */
.bg-dark {
    background-color: #252830 !important;
    color: #fff !important;
}
.btn-dark {
    background-color: #252830;
    border-color: #272b36 !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    border-color: #1997c6 !important;
    color: #1997c6 !important;
}
.btn-outline-primary:hover {
    background-color: #1997c6 !important;
    color: #fff !important;
}

.btn-primary {
    background-color: #1997c6 !important;
    border-color: #1997c6 !important;
}
.btn-primary:focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(25, 151, 198, .5) !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #1997c6 !important;
    color: #fff !important;
}

.text-muted { font-size: 14px; }
.table-dark { color: #cfd2da }

.custom-file-label::after {
    display: none;
}

/* custom css */
.sidebar a { color: #cfd2da }
.sidebar a:hover { color: #fff; }
.sidebar a.active {
    background-color: #1997c6;
    color: #fff;
}
.sidebar i {
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.card.bg-dark a { color: #cfd2da; }
.card.bg-dark a:hover,
.card.bg-dark a:focus,
.card.bg-dark a.active {
    /* background-color: #252830; */
    background-color: #343a40;
    border-color: rgba(0,0,0,.2);
    /* border-bottom: 1px solid #252830; */
    border-bottom: 1px solid #343a40;
    color: #fff;
}
.card.bg-dark .card-body { background-color: #343a40; }
.card.bg-dark .card-body input,
.card.bg-dark .card-body select,
.card.bg-dark .card-body textarea,
.card.bg-dark .card-body .custom-file-label {
    border-color: #252830;
    background-color: #252830;
}
.card.bg-dark .card-body input:focus,
.card.bg-dark .card-body select:focus,
.card.bg-dark .card-body textarea:focus {
    background-color: #fff;
}

.dropdown i { width: 20px; }
.alert button { outline: none; }

.loading-overlay {
    position: absolute;
    z-index: 3;
}
.page-loader { z-index: 3; }

.table-hover tr { cursor: pointer; }

.pagination .page-link {
    background-color: transparent;
    border: 1px solid #343a40;
    color: #6c757d !important;

    transition: background-color .2s, border-color .2s, color .2s;
}
.pagination .page-link:hover,
.pagination .active .page-link {
    /* background-color: #007bff; */
    /* border-color: #007bff; */
    background-color: #1997c6;
    border-color: #1997c6;
    color: #fff !important;
}

.action-modal {
    position: fixed;
    background-color: rgba(37, 40, 48, .8);
    left: 0px;
    top: 0px;
    z-index: 2;
}
.action-modal .card-body { overflow-y: auto; }

.autocomplete {
    position: absolute;
    top: 100%;
    max-height: 300px;
    overflow: hidden auto;
    z-index: 3
}
.autocomplete span.items:hover {
    background-color: #1997c6;
    color: #fff !important;
    cursor: pointer;
}

/* customized imported CSS */
.fas.fa-spinner {
    animation: rotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}